h1 {
	font-family: 'Raleway', sans-serif;
}

.custom-dark {
	color: #000;
}

.custom-bg-red {
	background-color: #e74c3c;
}

.code {
	font-family: 'Lucida Console', Consolas;
	font-size: 17px; 
}

.no-pad {
	padding-top: 0px;
	padding-bottom: 0px;
}

.big {
	font-size: 140%;
}